In [1]:
import pandas as pd

In [4]:
# Store the filepaths of the district and school data 
district = "..\Module_4_Challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv"
student = "..\Module_4_Challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv"

In [5]:
# Read the district data and school data
district_file = pd.read_csv(district)
student_file = pd.read_csv(student)

student_df = pd.DataFrame(student_file)
district_df = pd.DataFrame(district_file)

In [11]:
# Join the dataframes based on their shared column (school_name)
school_data = pd.merge(student_file, district_file, how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
## DISTRICT SUMMARY ##

In [26]:
# Find the total number of unique schools
school_count = school_data["school_name"].nunique()
school_count

15

In [20]:
# Find the total number of students 
student_count = school_data["student_name"].count()
student_count

39170

In [34]:
# Find the total budget  
total_budget = district_file["budget"].sum()
total_budget

24649428

In [27]:
# Find the average math score for the students
average_math_score = school_data["math_score"].mean()
average_math_score

78.98537145774827

In [28]:
# Find the average reading score for the students 
average_reading_score = school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [29]:
# Calculate the percentage of students who passed math (score greater than or equal to 70)
passing_math_count = school_data[(school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [30]:
# Calculate the percentage of students who passed reading (score greater than or equal to 70)
passing_reading_count = school_data[(school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [31]:
# Calculate the percentage of students that passed both math and reading
passing_math_reading_count = school_data[
    (school_data["math_score"] >= 70) & (school_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983