In [81]:
import pandas as pd

In [82]:
# Store the filepaths of the district and school data 
district = "..\Module_4_Challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv"
student = "..\Module_4_Challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv"

In [83]:
# Read the district data and school data
district_file = pd.read_csv(district)
student_file = pd.read_csv(student)

student_df = pd.DataFrame(student_file)
district_df = pd.DataFrame(district_file)

In [84]:
# Join the dataframes based on their shared column (school_name)
school_data = pd.merge(student_file, district_file, how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [85]:
# Find the total number of unique schools
school_count = school_data["school_name"].nunique()
school_count

15

In [86]:
# Find the total number of students 
student_count = school_data["student_name"].count()
student_count

39170

In [87]:
# Find the total budget  
total_budget = district_file["budget"].sum()
total_budget

24649428

In [88]:
# Find the average math score for the students
average_math_score = school_data["math_score"].mean()
average_math_score

78.98537145774827

In [89]:
# Find the average reading score for the students 
average_reading_score = school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [90]:
# Calculate the percentage of students who passed math (score greater than or equal to 70)
passing_math_count = school_data[(school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [91]:
# Calculate the percentage of students who passed reading (score greater than or equal to 70)
passing_reading_count = school_data[(school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [92]:
# Calculate the percentage of students that passed both math and reading
passing_math_reading_count = school_data[
    (school_data["math_score"] >= 70) & (school_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [93]:
# Create a high level snapshot of the district's key metrics in a dataframe
district_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],
                                 "Total Budget":[total_budget],"Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score],"% Passing Math":[passing_math_percentage],
                                 "% Passing Reading":[passing_reading_percentage],"% Overall Passing":[overall_passing_rate]})

# Formatting to add commas to student count, and commas and dollar signs to budget counts
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Show the dataframe 
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [107]:
# Find the school types
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [96]:
# Find the total student count per school
per_school_counts = school_data["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [108]:
# Find the budget allowance 
# Take the mean as this will add the full budget each time a school name is found,
# then divide by the number of schools found, which will give you the original budget 
per_school_budget = school_data.groupby(["school_name"])["budget"].mean()
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [98]:
# Using the school budget, find the per capita (ie, per student) spending for each school
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [109]:
# Find the average test scores per school 
per_school_math = school_data.groupby(["school_name"])["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [110]:
per_school_reading = school_data.groupby(["school_name"])["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [101]:
# First, use the loc function to filter the math score column based on passing score
students_passing_math = school_data.loc[school_data["math_score"]>=70]
students_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [102]:
# Then find the number of students passing math per school
school_students_passing_math = students_passing_math["school_name"].value_counts()
school_students_passing_math

Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: school_name, dtype: int64

In [103]:
# Find the number of students passing reading using the same process as above
students_passing_reading = school_data.loc[school_data["reading_score"]>=70]
students_passing_reading

school_students_passing_reading = students_passing_reading["school_name"].value_counts()
school_students_passing_reading

Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: school_name, dtype: int64

In [104]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data[
    (school_data["reading_score"] >= 70) & (school_data["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [105]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [111]:
# Create a dataframe to display the results
per_school_summary = pd.DataFrame({"School Type":[school_type],"Total Students":[per_school_counts],
                                   "Total School Budget":[per_school_budget],"Per Student Budget":[per_school_capita],
                                   "Average Math Score":[per_school_math],"Average Reading Score":[per_school_reading],
                                   "% Passing Math":[per_school_passing_math],"% Passing Reading":[per_school_passing_reading],
                                   "% Overall Passing":[overall_passing_rate]})
per_school_summary.index.name = "School Name"

# Add formatting (commas and dollar signs)
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Show the dataframe
per_school_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,
0,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 54.642283 Cabrera Hig...